openapi: 3.2.0
info:
  title: LI.FI Calldata API
  version: 1.0.0
  description: LI.FI provides the best cross-chain swap across all liquidity pools and bridges.
servers:
- url: https://li.quest
  description: LI.FI Production Environment
- url: https://staging.li.quest
  description: LI.FI Staging Environment
tags:
- name: Calldata
paths:
  /v1/calldata/parse:
    parameters:
    - name: chainId
      description: The chainId that the transaction is built for (or has been sent on)
      schema:
        type: string
      in: query
      required: false
    - name: callData
      description: The call data to parse
      schema:
        type: string
      in: query
      required: true
    get:
      parameters:
      - name: x-lifi-api-key
        description: Authentication header, register in the LI.FI Partner Portal (https://portal.li.fi/ ) to get your API Key.
        schema:
          type: string
        in: header
      responses:
        '200':
          $ref: '#/components/responses/ParsedCallDataResponse'
      summary: Parse transaction call data (BETA)
      description: This endpoint allows to pass transaction call data. It will then parse the call data based on known and on-chain ABIs to provide a JSON overview of the internal transaction information.
      tags:
      - Calldata
components:
  responses:
    ParsedCallDataResponse:
      description: "[\n    {\n        \"functionName\": \"swapTokensGeneric\",\n        \"functionParameters\": {\n            \"_transactionId\": \"0x40b0592501720ece27ef8614385fbef4bdbb5b2050ebaaa3563e72fee959e249\",\n            \"_integrator\": \"jumper.exchange\",\n            \"_referrer\": \"0x0000000000000000000000000000000000000000\",\n            \"_receiver\": \"0x552008c0f6870c2f77e5cC1d2eb9bdff03e30Ea0\",\n            \"_minAmount\": \"4640629752435722515\",\n            \"_swapData\": [\n                {\n                    \"callTo\": \"0xDef1C0ded9bec7F1a1670819833240f027b25EfF\",\n                    \"approveTo\": \"0xDef1C0ded9bec7F1a1670819833240f027b25EfF\",\n                    \"sendingAssetId\": \"0x0000000000000000000000000000000000000000\",\n                    \"receivingAssetId\": \"0x8f3Cf7ad23Cd3CaDbD9735AFf958023239c6A063\",\n                    \"fromAmount\": \"5000000000000000000\",\n                    \"callData\": \"0x415565b0000000000000000000000000eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee0000000000000000000000008f3cf7ad23cd3cadbd9735aff958023239c6a0630000000000000000000000000000000000000000000000004563918244f400000000000000000000000000000000000000000000000000004066d42c380a491300000000000000000000000000000000000000000000000000000000000000a000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000000000000000000000000000000000000060000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000004a0000000000000000000000000000000000000000000000000000000000000000400000000000000000000000000000000000000000000000000000000000000400000000000000000000000000000000000000000000000000000000000000040000000000000000000000000eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee0000000000000000000000000000000000000000000000004563918244f40000000000000000000000000000000000000000000000000000000000000000001400000000000000000000000000000000000000000000000000000000000000400000000000000000000000000000000000000000000000000000000000000340000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000d500b1d8e8ef31e21c99d1db9a6444d3adf12700000000000000000000000008f3cf7ad23cd3cadbd9735aff958023239c6a06300000000000000000000000000000000000000000000000000000000000001400000000000000000000000000000000000000000000000000000000000000300000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000000000000000000000000000000000000002c00000000000000000000000000000000000000000000000004563918244f40000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000012556e69737761705633000000000000000000000000000000000000000000000000000000000000004563918244f400000000000000000000000000000000000000000000000000004066d42c380a4913000000000000000000000000000000000000000000000000000000000000008000000000000000000000000000000000000000000000000000000000000000a0000000000000000000000000e592427a0aece92de3edee1f18e0157c058615640000000000000000000000000000000000000000000000000000000000000040000000000000000000000000000000000000000000000000000000000000002b0d500b1d8e8ef31e21c99d1db9a6444d3adf12700001f48f3cf7ad23cd3cadbd9735aff958023239c6a063000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000c000000000000000000000000000000000000000000000000000000000000004000000000000000000000000000000000000000000000000000000000000000e00000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000000000000000000000000000000000000004000000000000000000000000000000000000000000000000000000000000000a000000000000000000000000000000000000000000000000000000000000000020000000000000000000000000d500b1d8e8ef31e21c99d1db9a6444d3adf1270000000000000000000000000eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee0000000000000000000000000000000000000000000000000000000000000000869584cd00000000000000000000000026c16b6926637cf5eb62c42991b4166add66ff9e0000000000000000000000000000000000000000000000d3adebcfec6458a4f9\",\n                    \"requiresDeposit\": true\n                },\n                {\n                    \"callTo\": \"0x464eF665Ea203d142F5aa25e12312290fA8917ec\",\n                    \"approveTo\": \"0x464eF665Ea203d142F5aa25e12312290fA8917ec\",\n                    \"sendingAssetId\": \"0x8f3Cf7ad23Cd3CaDbD9735AFf958023239c6A063\",\n                    \"receivingAssetId\": \"0x1305F6B6Df9Dc47159D12Eb7aC2804d4A33173c2\",\n                    \"fromAmount\": \"4640629752435722515\",\n                    \"callData\": [\n                        {\n                            \"functionName\": \"upgrade\",\n                            \"functionParameters\": {\n                                \"superToken\": \"0x1305F6B6Df9Dc47159D12Eb7aC2804d4A33173c2\",\n                                \"account\": \"0x1231DEB6f5749EF6cE6943a275A1D3E7486F4EaE\",\n                                \"amount\": \"4640629752435722515\"\n                            }\n                        }\n                    ],\n                    \"requiresDeposit\": false\n                }\n            ]\n        }\n    }\n]"
